<launch>
    <node respawn = "true" pkg = "joy" type = "joy_node" name = "joy1">
        <remap from = "joy" to = "joy1"/>
        <param name = "dev" type = "string" value = "/dev/input/js0"/>
        <param name = "autorepeat_rate" value = "5"/>
    </node>
    <node pkg = "andy" name = "andy" type = "TeleopInterface.py"></node>
    <node pkg = "andy" name = "driver" type = "driver.py"  output = "screen"></node>
</launch>
